{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav menu__list">
        <li class="menu__item"><a class="menu__link" href="{{ path('homepage') }}">Home <span
                        class="sr-only">(current)</span></a></li>
        <li class="menu__item--current menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
        <li class="menu__item dropdown">
            <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">Suppliers <b
                        class="caret"></b></a>
            <ul class="dropdown-menu agile_short_dropdown">
                <li><a href="#">Maxima</a></li>
                <li><a href="#">Can can</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info"><span>Profile</span></h3>
            <div id="horizontalTab">
                <div class="row">
                    <div class="col-md-12 col-sm-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">Add your shop</div>
                            <div class="panel-body">
                                {{ form_start(form) }}

                                <div class="form-group">
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                {#<div class="form-group">#}
                                {#{{ form_label(form.latitude) }}#}
                                {#{{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}#}
                                {#</div>#}

                                {#<div class="form-group">#}
                                {#{{ form_label(form.longitude) }}#}
                                {#{{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}#}
                                {#</div>#}
                                <button type="submit" class="btn btn-success">Edit shop</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="resp-tabs-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM <3 </p>
        </div>
    </div>
    <!-- //footer -->
{% endblock %}