{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav menu__list">
        <li class="menu__item"><a class="menu__link" href="{{ path('homepage') }}">Home <span
                        class="sr-only">(current)</span></a></li>
        <li class="menu__item--current menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
        <li class="menu__item dropdown">
            <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">Suppliers <b
                        class="caret"></b></a>
            <ul class="dropdown-menu agile_short_dropdown">
                <li><a href="#">Maxima</a></li>
                <li><a href="#">Can can</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info"><span>Profile</span></h3>
            <div id="horizontalTab">
                <div class="row">

                    <div class="col-md-3 col-sm-2 text-center">
                        <div class="panel panel-success">
                            <div class="panel-heading">Add your shop</div>
                            <div class="panel-body">
                                {{ form_start(form) }}

                                <div class="form-group">
                                    {{ form_errors(form.address) }}
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                {#<div class="form-group">#}
                                {#{{ form_errors(form.latitude) }}#}
                                {#{{ form_label(form.latitude) }}#}
                                {#{{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}#}
                                {#</div>#}

                                {#<div class="form-group">#}
                                {#{{ form_errors(form.longitude) }}#}
                                {#{{ form_label(form.longitude) }}#}
                                {#{{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}#}
                                {#</div>#}
                                <button type="submit" class="btn btn-success">Add new shop</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ ivory_google_map(map) }}
                        {{ ivory_google_api([map]) }}
                    </div>
                    <div class="resp-tabs-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div id="horizontalTab">
                <div class="row">
                    <div class="col-md-12 col-sm-2 text-center">
                        <h2>Added shops</h2>
                    </div>
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success col-md-6 col-md-offset-3">
                            <p class="text-center">
                                <b>{{ message }}</b>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="resp-tabs-container">

                        {% for shop in shops %}
                            <div class="col-sm-3 col-md-3 col-lg-3 mt-3 product-men">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('images/addresses/'  ~ shop.ImageName) }}">
                                    <div class="card-block text-center">
                                        <h4 class="card-title mt-3">{{ app.user.companyName }} </h4>
                                        <div class="meta">
                                            <a>{{ shop.address }}</a>
                                        </div>

                                        <div class="card-footer text-center">
                                            <div class="text-center">
                                                <a style="width:100%;"
                                                   href="{{ path('profile_item_show', { 'id': shop.id }) }}"
                                                   class="btn btn-success">Add product</a>
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <a style="width:100%;"
                                                   href="{{ path('profile_edit', { 'id': shop.id }) }}"
                                                   class="btn btn-warning">Edit</a>
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <a style="width:100%;"
                                                   href="{{ path('profile_delete', { 'id': shop.id }) }}"
                                                   class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM <3 </p>
        </div>
    </div>
    <!-- //footer -->
{% endblock %}