{% extends 'base.html.twig' %}

{% block title %}Dicounted Food{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav menu__list">
        <li class="menu__item"><a class="menu__link" href="{{ path('homepage') }}">Home <span
                        class="sr-only">(current)</span></a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('map') }}">Show Map</a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('subscribe') }}">Subscribe</a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('profile_index') }}"><i class="fa fa-user" aria-hidden="true"></i> Manage Shops</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Login </a>
            </li>
            <li><a href="{{ path('fos_user_registration_register') }}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}

    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">Your <span>Shops Map</span></h3>

            <div class="row">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success col-md-6 col-md-offset-3">
                        <p class="text-center">
                            <b>{{ message }}</b>
                        </p>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger col-md-6 col-md-offset-3">
                        <p class="text-center">
                            <b>{{ message }}</b>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div id="horizontalTab">
                <div class="row">

                    <div class="col-md-3 col-sm-2 text-center">
                        <div class="panel panel-success">
                            <div class="panel-heading">Add your shop</div>
                            <div class="panel-body">
                                {{ form_start(form) }}
                                <p>Example address:<br> Vilniaus g. 15, Vilnius</p>
                                <br>
                                <div class="form-group">
                                    {{ form_errors(form.address) }}
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form.imageFile) }}
                                    {{ form_label(form.imageFile) }}
                                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <button type="submit" class="btn btn-success">Add new shop</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ ivory_google_map(map) }}
                        {{ ivory_google_api([map]) }}
                    </div>
                    <div class="resp-tabs-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <br>

            <br>
            <div id="horizontalTab">
                <div class="row">
                    <h3 class="wthree_text_info">Added <span>Shops</span></h3>

                    <div class="resp-tabs-container">

                        {% if shops is empty %}
                            <br>
                            <h6 class="text-center">You haven't added any shops yet</h6>
                        {% endif %}

                        {% for shop in shops %}
                            <div class="col-sm-3 col-md-3 col-lg-3 mt-3 product-men">
                                <div class="card">
                                    {% if shop.ImageName is not null %}
                                        <img class="card-img-top" src="{{ asset('images/addresses/'  ~ shop.ImageName) }}">
                                    {% else %}
                                        <img class="card-img-top" src="http://www.studiomatthews.com/wp-content/uploads/2015/09/NoShop_StudioMatthews_01.jpeg">
                                    {% endif %}
                                    <div class="card-block text-center">
                                        <h4 class="card-title mt-3">{{ app.user.companyName }} </h4>
                                        <div class="meta">
                                            <a>{{ shop.address }}</a>
                                        </div>

                                        <div class="card-footer text-center">
                                            <div class="text-center">
                                                <a style="width:100%;"
                                                   href="{{ path('profile_item_show', { 'id': shop.id }) }}"
                                                   class="btn btn-success">Add product</a>
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <a style="width:100%;"
                                                   href="{{ path('profile_delete', { 'id': shop.id }) }}"
                                                   class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM <3 </p>
        </div>
    </div>
    <!-- //footer -->
{% endblock %}