{% extends 'base.html.twig' %}
        {% block customStyleheets %}
            <style>
                .form-group input[type="checkbox"] {
                    display: none;
                }

                .form-group input[type="checkbox"] + .btn-group > label span:first-child {
                    display: none;
                }

                .form-group input[type="checkbox"] + .btn-group > label span:last-child {
                    display: inline-block;
                }

                .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
                    display: inline-block;
                }

                .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
                    display: none;
                }
            </style>
        {% endblock %}
        {% block title %}Discounted food{% endblock %}

        {% block navbar %}
            <ul class="nav navbar-nav menu__list">
                <li class="active menu__item menu__item--current">
                    <a class="menu__link" href="{{ path('homepage') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="{{ path('map') }}">Show Map<span class="sr-only">(current)</span></a>
                </li>
                <li class="menu__item"><a class="menu__link" href="{{ path('subscribe') }}">Subscribe</a></li>
                <li class=" menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('profile_index') }}"><i class="fa fa-user" aria-hidden="true"></i>
                            Manage Shops</a></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>Login
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register </a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}

        {% block index_page %}
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h3>Search <span>Food</span></h3>
                                {#<p>Special for today</p>#}
                                <br>
                                <div class="row">
                                    <div style="margin-top:40px;" class="col-md-12">
                                        <form method="post" action="{{ path('map') }}">
                                            <div class="col-md-6">
                                                <div class="form-group form-control-lg">
                                                    <input type="text" class="form-control"
                                                           id="food-name" name="foodName"
                                                           placeholder="Favorite food">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="form-control form-control-lg" id="location-place">
                                                    <option>Current location</option>
                                                    <option>Vilnius</option>
                                                    <option>Kaunas</option>
                                                    <option>Šiauliai</option>
                                                    <option>Klaipėda</option>
                                                    <option>Panevėžys</option>
                                                </select>
                                            </div>
                                            <div>
                                                <input type="hidden" name="lattitude" id="lattitude"
                                                       value="">
                                                <input type="hidden" name="longitude" id="longitude"
                                                       value="">
                                            </div>
                                            <div class="col-md-1">
                                                <button class="btn btn-success" id="search--button">Search
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock %}

        {% block body %}
            <div class="new_arrivals_agile_w3ls_info">
                <div class="container">
                    <h3 class="wthree_text_info">Available <span>Offers</span></h3>
                    <div id="horizontalTab">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="col-md-12">

                                        {{ form_start(foodFilterForm) }}

                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                {{ form_widget(foodFilterForm.meal) }}
                                                <div class="btn-group">
                                                    <label for="appbundle_food_filter_meal"
                                                           class="btn btn-success">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </label>
                                                    <label for="appbundle_food_filter_meal"
                                                           class="btn btn-default active">
                                                        Meal
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                {{ form_widget(foodFilterForm.dessert) }}
                                                <div class="btn-group">
                                                    <label for="appbundle_food_filter_dessert"
                                                           class="btn btn-success">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </label>
                                                    <label for="appbundle_food_filter_dessert"
                                                           class="btn btn-default active">
                                                        Dessert
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                {{ form_widget(foodFilterForm.vegan) }}
                                                <div class="btn-group">
                                                    <label for="appbundle_food_filter_vegan"
                                                           class="btn btn-success">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </label>
                                                    <label for="appbundle_food_filter_vegan"
                                                           class="btn btn-default active">
                                                        Vegan
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                {{ form_widget(foodFilterForm.vegetarian) }}
                                                <div class="btn-group">
                                                    <label for="appbundle_food_filter_vegetarian"
                                                           class="btn btn-success">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </label>
                                                    <label for="appbundle_food_filter_vegetarian"
                                                           class="btn btn-default active">
                                                        Vegetarian
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 text-center">
                                            {{ form_widget(foodFilterForm.filter, {'label' : 'Filter by Category'}) }}
                                        </div>
                                        {{ form_end(foodFilterForm) }}
                                    </div>
                                </div>
                            </div>

                            <div class="resp-tabs-container">
                                {% for product in products %}

                                    <div class="col-sm-4 col-md-4 col-lg-4 mt-4 product-men"
                                         style="height: 500px;margin-bottom: 150px; position:relative;">
                                        <div class="card">
                                            {% if product.ImageName is not null %}
                                                <img style="width:360px;height:240px;"
                                                     class="card-img-top img-responsive"
                                                     src="{{ asset('images/products/'  ~ product.ImageName) }}">
                                            {% else %}
                                                <img style="width:360px;height:240px;"
                                                     class="card-img-top img-responsive"
                                                     src="{{ asset('images/products/foodNoImage.jpg') }}">
                                            {% endif %}
                                            <div class="card-block text-center">
                                                <h4 class="card-title mt-3">{{ product.name }}</h4>
                                                <div class="meta">
                                                    <a>{{ product.address.shopOwner.companyName }}
                                                        Address: {{ product.address.address }}</a>
                                                </div>
                                                <div class="card-text">
                                                    {{ product.description }}
                                                </div>
                                            </div>
                                            <div class="card-footer text-center">
                                                <small>Collection time today:
                                                    <strong>{{ product.dateFrom|date("h:m") }}
                                                        - {{ product.dateTo|date("h:m") }}</strong></small>
                                            </div>
                                            <div class="card-footer text-center">
                                                {% if product.vegan %}
                                                    <button type="button" class="btn btn-success"><span
                                                                class="badge">VEGAN</span></button>
                                                {% endif %}
                                                {% if product.vegetarian %}
                                                    <button type="button" class="btn btn-success"><span
                                                                class="badge">VEGETARIAN</span></button>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer text-center">
                                                {% if product.meal %}
                                                    <button type="button" class="btn btn-success"><span
                                                                class="badge">MEAL</span></button>
                                                {% endif %}
                                                {% if product.dessert %}
                                                    <button type="button" class="btn btn-success"><span
                                                                class="badge">DESSERT</span></button>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer text-center">
                                                <strong><i class="fa fa-phone fa-lg" aria-hidden="true"></i> {{ product.address.shopOwner.phone }}</strong>
                                            </div>
                                            <div class="card-footer text-center">
                                                <small>Left: <strong>{{ product.portions }}</strong>
                                                    portions for: <strong><span
                                                                class="item_price">${{ product.price }}</span></strong>
                                                </small>

                                                <form action="{{ path('map') }}" method="post">
                                                    <input type="hidden" name="lattitude"
                                                           value="{{ product.address.latitude }}">
                                                    <input type="hidden" name="longitude"
                                                           value="{{ product.address.longitude }}" >
                                                    <input type="hidden" name="alone"
                                                           value="{{ product.id }}">
                                                    <button style="color:white;"
                                                            class="btn snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                        SHOW IN THE MAP
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="footer_agile_inner_info_w3l">
                    <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM
                        <3 </p>
                </div>
            </div>
        {% endblock %}