{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav menu__list">
        <li class="menu__item"><a class="menu__link" href="{{ path('homepage') }}">Home <span
                        class="sr-only">(current)</span></a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('map') }}">Show Map</a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('profile_index') }}"><i class="fa fa-user" aria-hidden="true"></i> Manage Shops</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Login </a></li>
            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-pencil-square-o"
                                                                          aria-hidden="true"></i> Register </a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info"><span>Product</span></h3>
            <div id="horizontalTab">
                <div class="row">
                    <div class="col-md-12 col-sm-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">Add your shop</div>
                            <div class="panel-body">
                                {{ form_start(form) }}

                                <div class="form-group">
                                    {{ form_errors(form.name) }}
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.description) }}
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.dateFrom) }}
                                    {{ form_label(form.dateFrom) }}
                                    {{ form_widget(form.dateFrom) }}
                                    {#{{ form_widget(form.dateFrom, {'attr': {'class': 'form-control'}}) }}#}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.dateTo) }}
                                    {{ form_label(form.dateTo) }}
                                    {{ form_widget(form.dateTo) }}
                                    {#{{ form_widget(form.dateTo, {'attr': {'class': 'form-control'}}) }}#}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.portions) }}
                                    {{ form_label(form.portions) }}
                                    {{ form_widget(form.portions, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.price) }}
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <button type="submit" class="btn btn-success">Update Product</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="resp-tabs-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM <3 </p>
        </div>
    </div>
    <!-- //footer -->
{% endblock %}