{% extends 'base.html.twig' %}

{% block title %}Dicounted Food{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav menu__list">
        <li class="menu__item"><a class="menu__link" href="{{ path('homepage') }}">Home <span
                        class="sr-only">(current)</span></a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('map') }}">Show Map</a></li>
        <li class="menu__item"><a class="menu__link" href="{{ path('about') }}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('profile_index') }}"><i class="fa fa-user" aria-hidden="true"></i> Manage Shops</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Login </a></li>
            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-pencil-square-o"
                                                                          aria-hidden="true"></i> Register </a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">
                <span>Products of {{ app.user.companyName }} in Address {{ shops.Address }}</span>
            </h3>
            <div id="horizontalTab">
                <div class="row">

                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success col-md-6 col-md-offset-3">
                            <p class="text-center">
                                <b>{{ message }}</b>
                            </p>
                        </div>
                    {% endfor %}

                    <div class="col-md-8 col-md-offset-2 col-sm-2 text-center">
                        <div class="panel panel-success">
                            <div class="panel-heading">Add your product</div>
                            <div class="panel-body">
                                {{ form_start(form) }}

                                <div class="form-group">
                                    {{ form_errors(form.name) }}
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.description) }}
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.portions) }}
                                    {{ form_label(form.portions) }}
                                    {{ form_widget(form.portions, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.price) }}
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_errors(form.dateFrom) }}
                                            {{ form_label(form.dateFrom) }}
                                            {{ form_widget(form.dateFrom, {'attr': {'class': 'form-control', 'placeholder': 'Click here to open calendar'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_errors(form.dateTo) }}
                                            {{ form_label(form.dateTo) }}
                                            {{ form_widget(form.dateTo, {'attr': {'class': 'form-control', 'placeholder': 'Click here to open calendar '}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.imageFile) }}
                                    {{ form_label(form.imageFile) }}
                                    {{ form_widget(form.imageFile) }}
                                </div>

                                <div class="form-group">

                                    <h5>Select food types</h5>

                                    {{ form_errors(form.meal) }}
                                    {{ form_label(form.meal) }}
                                    {{ form_widget(form.meal) }}

                                    {{ form_errors(form.dessert) }}
                                    {{ form_label(form.dessert) }}
                                    {{ form_widget(form.dessert) }}

                                </div>

                                <div class="form-group">

                                    {{ form_errors(form.vegan) }}
                                    {{ form_label(form.vegan) }}
                                    {{ form_widget(form.vegan) }}

                                    {{ form_errors(form.vegetarian) }}
                                    {{ form_label(form.vegetarian) }}
                                    {{ form_widget(form.vegetarian) }}

                                </div>

                                <button type="submit" class="btn btn-success">Add new product</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="resp-tabs-container">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <h3 class="wthree_text_info">All <span>Products</span></h3>

            <h5 class="text-center">From store at {{ shops.Address }}</h5>
            <br>

            <div id="horizontalTab">
                <div class="row">

                    <div class="col-md-12 col-sm-2 text-center">
                        {% if products is empty %}
                            <br>
                            <h6 class="text-center">You haven't added any products yet</h6>
                        {% endif %}
                    </div>
                    <div class="resp-tabs-container">

                        {% for product in products %}
                            <div class="col-sm-3 col-md-3 col-lg-3 mt-3 product-men">
                                <div class="card">

                                    {% if product.ImageName is not null %}
                                        <img class="card-img-top"
                                             src="{{ asset('images/products/'  ~ product.ImageName) }}">
                                    {% else %}
                                        <img class="card-img-top"
                                             src="{{ asset('images/products/foodNoImage.jpg') }}">
                                    {% endif %}
                                    <div class="card-block text-center">
                                        <h4 class="card-title mt-3">{{ product.name }}</h4>
                                        <div class="meta">
                                            <a>{{ app.user.companyName }} Address: {{ shops.Address }}</a>
                                        </div>
                                        <div class="card-text">
                                            {{ product.description }}
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <small>Collection time:</small>
                                        <p>
                                           <strong>{{ product.dateFrom|date('Y-m-d H:i:s') }}
                                               - {{ product.dateTo|date('Y-m-d H:i:s') }}</strong>
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        {% if product.vegan %}
                                            <button type="button" class="btn btn-success"><span
                                                        class="badge">VEGAN</span></button>
                                        {% endif %}
                                        {% if product.vegetarian %}
                                            <button type="button" class="btn btn-success"><span
                                                        class="badge">VEGETARIAN</span></button>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer text-center">
                                        {% if product.meal %}
                                            <button type="button" class="btn btn-success"><span
                                                        class="badge">MEAL</span></button>
                                        {% endif %}
                                        {% if product.dessert %}
                                            <button type="button" class="btn btn-success"><span
                                                        class="badge">DESSERT</span></button>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer text-center">
                                        <small>Left: <strong>{{ product.portions }}</strong> portions for: <strong><span
                                                        class="item_price">${{ product.price }}</span></strong></small>
                                    </div>

                                    <div class="text-center">
                                        <a style="width:70%;" href="{{ path('product_edit', { 'id': product.id }) }}"
                                           class="btn btn-warning">Edit</a>
                                    </div>
                                    <br>

                                    <div class="text-center">
                                        <a style="width:70%;" href="{{ path('product_delete', { 'id': product.id }) }}"
                                           class="btn btn-danger">Delete</a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <p class="copy-right">&copy 2017 Discounted food app. All rights reserved | THIRD TEAM <3 </p>
        </div>
    </div>
    <!-- //footer -->
{% endblock %}

{% block customScripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $('#appbundle_product_dateTo').flatpickr({
            enableTime: true,
            minDate: "today",
            time_24hr: true
        });
        $('#appbundle_product_dateFrom').flatpickr({
            enableTime: true,
            minDate: "today",
            time_24hr: true
        });
    </script>
{% endblock %}