{% trans_default_domain 'FOSUserBundle' %}

<br><br>
{% if error %}
    <div class="alert alert-danger"><strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="panel panel-info" >
    <div class="panel-heading">
        <div class="panel-title">Sign In</div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></div>
    </div>

    <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" id="username" name="_username" class="form-control" placeholder="username" value="{{ last_username }}" required="required" />
                {#<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">#}
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" id="password" name="_password" placeholder="password" class="form-control" required="required" />
            </div>



            <div class="input-group">
                <div class="checkbox">
                    <label>
                        <input id="emember_me" type="checkbox" name="_remember_me" value="on"> Remember me
                    </label>
                </div>
            </div>


            <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                    <input class = "btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Don't have an account!
                        <a href="{{ path('fos_user_registration_register') }}"> Sign Up here </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

